{% extends 'blog/base.html' %}
 {% load static %}
    {% block content %}

 <div class="col-sm-10">
    <h3 class="text-white my-5">About page</h3>
    <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem tempora incidunt ipsum molestiae nemo nostrum ducimus. Optio debitis tempora quis voluptatem, pariatur adipisci, fugit corporis natus, neque harum blanditiis distinctio delectus veniam quidem voluptates? Debitis, delectus laboriosam enim rem nulla saepe sapiente sit, perspiciatis ea omnis quidem, quas cumque! Quam!</p>
    <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore et vel unde dolor, voluptatibus dolorum! Illum id praesentium quae soluta optio officia! Ipsa voluptatibus dolor iure perspiciatis eos eaque sint unde modi, impedit, dicta illo, autem qui repellat magni odit debitis quaerat laudantium? Corporis libero reiciendis, et culpa ut quos.</p>
 </div>
 
      {% endblock content %}